<div id="<%= dom_id line_item %>">
  <% if line_item == @current_item %>
    <tr class="line-item-highlight">
  <% else %>
    <tr>
  <% end %>
  <td class="text-right"><%= line_item.quantity %></td>
  <td>&times;</td>
  <td class="pr-2">
    <%= line_item.product.title %>
  </td>
  <td>
    <% if (line_item.cart.line_items.size-1).zero? && (line_item.quantity-1).zero? %>
      <%= button_to "empty", line_item.cart, method: :delete, class: "rounded-lg px-2 bg-red-50 inline-block font-medium" %>
    <% elsif (line_item.quantity-1).zero? %>
      <%= button_to "remove", line_item, method: :delete, class: "rounded-lg px-2 bg-red-50 inline-block font-medium" %>
    <% else %>
      <%= button_to '-', line_item, method: :patch, params: { line_item: { quantity: line_item.quantity-1 } }, class: "rounded-lg px-2 bg-red-50 inline-block font-medium" %>
    <% end %>

  </td>
  <td class="text-right font-bold">
    <%= number_to_currency(line_item.total_price) %>
  </td>
  </tr>
</div>
